<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jaw.minigames">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcherlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcherlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.FourInARowActivity"
            android:label="Four in a row"
            android:parentActivityName=".view.activity.MainActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.activity.CarBingoActivity"
            android:label="Car bingo"
            android:parentActivityName=".view.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MemoryActivity"
            android:label="Memory"
            android:parentActivityName=".view.activity.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>